--- 
layout: 'base.njk'
---

    <main>      
<article class="main-article">
<div class="arti">
<div class="container container--narrow flow"> 
    <h1 class="article-title">   
      {{title}}

    </h1>
    <figure class="main-article__figure">
      <img src="{{image}}" alt="{{imageAlt}}">
      <figcaption>
        This is a test
      </figcaption>
    </figure> 
    {{content |safe}}
<div class="sidebar">
<p>Recent Post</p>
{% for item in collections.featured %}
<ul><li><a href= "{{item.url}}"class="{{id}}">{{item.data.title}}</a></li></ul>
   {%- endfor %}
</div>
</div>

</div>


</article>
    </main>